<launch>

<node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/mavros/local_position/pose/pose/position/x /mavros/local_position/pose/pose/position/y /mavros/local_position/pose/pose/position/z"/>

<!-- Run few sec later -->
<arg name="node_start_delay" default="3.0" />  
<node name="tii_assign" pkg="tii_pkg" type="tii_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

</launch>